version: "3.8"

services:
  # OSM tile server
  osm-tile-server:
    build:
      context: .
      dockerfile: Dockerfile
    image: osm-tile-server:latest
    container_name: osm-tile-server
    ports:
      - "${SERVER_PORT}:80"
    environment:
      - DOWNLOAD_PBF=${DOWNLOAD_PBF}
      - DOWNLOAD_POLY=${DOWNLOAD_POLY}
      - UPDATES=${UPDATES}
      - ALLOW_CORS=${ALLOW_CORS}
      - THREADS=${THREADS}
      - AUTOVACUUM=${AUTOVACUUM}
      - PGPASSWORD=${PGPASSWORD}
    volumes:
      - osm-tiles:/data/tiles/
    restart: unless-stopped

volumes:
  osm-tiles:
    name: osm-tiles
